#view{
    background: url("http://expo.getbootstrap.com/screenshots/microsoft-power-bi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 0;
}

.header{
    position: absolute;
    font-family: SERIF;
    font-size: 50px;
    top: 122px;
    left: 534px;
    color: #333;
}
