@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

.axis text {
    font: 0.5em sans-serif;
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
}

rect.bar, circle.dot {
    fill: purple
}

section {
    background: #000;
    color: #fff;
    padding: 2em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    visibility: hidden;
}

.takeOver{
    position: absolute;
    top:0;
    left: 0;
}

.grey {
    color: #777;
}

.blue {
    color: #69D2E7
}

.altTitle{
    color:#e377c2;
}

.highlighted {
    font-weight: 700;
    border-bottom: 0.1em solid mediumpurple;
}

.purple, .d3{
    color: mediumpurple;
}

.variable {
    color: yellowgreen;
}

.function, .keyword {
    color: cornflowerblue;
}

.string {
    color: #ff8621;
}

a:link,
a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

.svgDemo {
    height: 13em;
    width: 35em;
}

.svgAxisDiv{
    height: 2em;
    width: 35em;
}

.svgDemoEnd {
    height: 9em;
    width: 35em;
}

img {
    padding-top: 1em;
    padding-left: 7em;
    height: 17em;
}